@import 'theme.scss';
$disaled-weight: 50%;
.sh-button {
  outline: none;
  cursor: pointer;
  border: 1px solid $border-color-base;
  background: $white;
  transition: all .2s;
  border-radius: $radius-md;
  color: $white;
  font-size: $h6;
  & + .sh-button {
    margin-left: 10px;
  }
  &__default {
    color: $text-color-base;
    &:hover, &:focus {
      border-color: $pricor-plain-border;
      background: $pricor-plain;
      color: $pricor !important;
    }
    &:active {
      border-color: $pricor-act;
      color: $pricor-act;
    }
    &.sh-button__plain {
      background: $white !important;
    }
    &.sh-button__disabled {
      cursor: not-allowed;
      background: $white;
      border-color: mix($white, $border-color-base, $disaled-weight);
      color: mix($white, $text-color-base, $disaled-weight) !important;
    }
  }
  &__primary {
    background: $pricor;
    border-color: $pricor;
    &.sh-button__plain {
      background: $pricor-plain;
      color: $pricor;
      &.sh-button__disabled {
        background: mix($white, $pricor-plain, $disaled-weight);
        color: mix($white, $pricor, $disaled-weight);
      }
    }
    &:hover, &:focus {
      border-color: $pricor-hov;
      background: $pricor-hov;
    }
    &:active {
      border-color: $pricor-act;
      background: $pricor-act;
    }
    &.sh-button__disabled {
      cursor: not-allowed;
      background: mix($white, $pricor, $disaled-weight);
      border-color: mix($white, $pricor, $disaled-weight);
      color: $white;
    }
  }
  &__success {
    background: $succor;
    border-color: $succor;
    &.sh-button__plain {
      background: $succor-plain;
      color: $succor;
      &.sh-button__disabled {
        background: mix($white, $succor-plain, $disaled-weight);
        color: mix($white, $succor, $disaled-weight);
      }
    }
    &:hover, &:focus {
      border-color: $succor-hov;
      background: $succor-hov;
    }
    &:active {
      border-color: $succor-act;
      background: $succor-act;
    }
    &.sh-button__disabled {
      cursor: not-allowed;
      background: mix($white, $succor, $disaled-weight);
      border-color: mix($white, $succor, $disaled-weight);
      color: $white;
    }
  }
  &__warning {
    background: $warcor;
    border-color: $warcor;
    &.sh-button__plain {
      background: $warcor-plain;
      color: $warcor;
      &.sh-button__disabled {
        background: mix($white, $warcor-plain, $disaled-weight);
        color: mix($white, $warcor, $disaled-weight);
      }
    }
    &:hover, &:focus {
      border-color: $warcor-hov;
      background: $warcor-hov;
    }
    &:active {
      border-color: $warcor-act;
      background: $warcor-act;
    }
    &.sh-button__disabled {
      cursor: not-allowed;
      background: mix($white, $warcor, $disaled-weight);
      border-color: mix($white, $warcor, $disaled-weight);
      color: $white;
    }
  }
  &__info {
    background: $infcor;
    border-color: $infcor;
    &.sh-button__plain {
      background: $infcor-plain;
      color: $infcor;
      &.sh-button__disabled {
        background: mix($white, $infcor-plain, $disaled-weight);
        color: mix($white, $infcor, $disaled-weight);
      }
    }
    &:hover, &:focus {
      border-color: $infcor-hov;
      background: $infcor-hov;
    }
    &:active {
      border-color: $infcor-act;
      background: $infcor-act;
    }
    &.sh-button__disabled {
      cursor: not-allowed;
      background: mix($white, $infcor, $disaled-weight);
      border-color: mix($white, $infcor, $disaled-weight);
      color: $white;
    }
  }
  &__danger {
    background: $dancor;
    border-color: $dancor;
    &.sh-button__plain {
      background: $dancor-plain;
      color: $dancor;
      &.sh-button__disabled {
        background: mix($white, $dancor-plain, $disaled-weight);
        color: mix($white, $dancor, $disaled-weight);
      }
    }
    &:hover, &:focus {
      border-color: $dancor-hov;
      background: $dancor-hov;
    }
    &:active {
      border-color: $dancor-act;
      background: $dancor-act;
    }
    &.sh-button__disabled {
      cursor: not-allowed;
      background: mix($white, $dancor, $disaled-weight);
      border-color: mix($white, $dancor, $disaled-weight);
      color: $white;
    }
  }
  &__plain {
    &:hover, &:focus {
      color: $white;
    }
  }
  &__round {
    border-radius: 100px;
  }
  &__mini {
    height: $height-mini;
    padding: 0 8px;
    font-size: $h7;
  }
  &__small {
    height: $height-small;
    padding: 0 10px;
  }
  &__medium {
    height: $height-medium;
    padding: 0 12px;
    font-size: $h5;
  }
  &__large {
    height: $height-large;
    padding: 0 15px;
    font-size: $h4;
  }
}