/* 全局变量 */
:root {
  // 颜色 -- normal
  --primary-color: #3366FF;
  --success-color: #2CAD66;
  --warning-color: #FFBE1C;
  --info-color: #6F6F6F;
  --danger-color: #FF4F38;
  //字体大小
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;
  --font-size-h5: 14px;
  --font-size-h6: 12px;
  --font-size-p: 12px;
  //字体粗细
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-weight-light: 200;
  //通用高度
  --height-mini: 24px;
  --height-small: 26px;
  --height-medium: 28px;
  --height-large: 30px;
  --height-max: 32px;
}

/* 全局样式 */
[class ^= sh-] {
  margin: 0;
  padding: 0;
  outline: none;
}