.sh-scrollbar {
  position: relative;
  width: 100%;
  overflow: hidden;
  > :first-child {
    overflow: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .sh-scrollbar__thumb {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    width: 7px;
    height: 7px;
    cursor: pointer;
    border-radius: 7px;
    transition: opacity .3s,background .3s;
    background: #00000033;
    will-change: transform;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    &:hover {
      background: #00000066;
    }
    &.is-y {
      right: 2px;
      top: 2px;
    }
    &.is-x {
      left: 2px;
      bottom: 2px;
    }
  }
  &.is-light {
    .sh-scrollbar__thumb {
      background: #ffffffdd;
      &:hover {
        background: #ffffff;
      }
    }
  }
  &:hover {
    .sh-scrollbar__thumb {
      opacity: 1;
    }
  }
}