/* 全局变量 */
// 颜色 -- normal
$white: #ffffff !default;
$dark: #000000 !default;

$pricor: #2CAD66 !default;
$succor: #1AB7BC !default;
$warcor: #F99C04 !default;
$infcor: #909399 !default;
$dancor: #D62635 !default;

$pricor-hov: mix($white, $pricor, 20%) !default;
$succor-hov: mix($white, $succor, 20%) !default;
$warcor-hov: mix($white, $warcor, 20%) !default;
$infcor-hov: mix($white, $infcor, 20%) !default;
$dancor-hov: mix($white, $dancor, 20%) !default;

$pricor-act: mix($dark, $pricor, 20%) !default;
$succor-act: mix($dark, $succor, 20%) !default;
$warcor-act: mix($dark, $warcor, 20%) !default;
$infcor-act: mix($dark, $infcor, 20%) !default;
$dancor-act: mix($dark, $dancor, 20%) !default;

$pricor-plain: mix($white, $pricor, 90%) !default;
$succor-plain: mix($white, $succor, 90%) !default;
$warcor-plain: mix($white, $warcor, 90%) !default;
$infcor-plain: mix($white, $infcor, 90%) !default;
$dancor-plain: mix($white, $dancor, 90%) !default;

$pricor-plain-border: mix($white, $pricor, 60%) !default;
$succor-plain-border: mix($white, $succor, 60%) !default;
$warcor-plain-border: mix($white, $warcor, 60%) !default;
$infcor-plain-border: mix($white, $infcor, 60%) !default;
$dancor-plain-border: mix($white, $dancor, 60%) !default;

$text-color-base: #333 !default;
$text-color-light: #666 !default;
$text-color-lighter: #999 !default;
$text-color-xlight: #ccc !default;

$border-color-base: #dcdcdc !default;
$border-color-light: #e4e4e4 !default;
$border-color-lighter: #ebebeb !default;
$border-color-xlight: #fefefe !default;
//字体大小
$h1: 24px !default;
$h2: 20px !default;
$h3: 18px !default;
$h4: 16px !default;
$h5: 14px !default;
$h6: 12px !default;
$h7: 10px !default;
$p: 14px !default;
//字体粗细
$fw: 500 !default;
$fwb: 700 !default;
$fwl: 200 !default;
//通用高度
$height-mini: 26px !default;
$height-small: 30px !default;
$height-medium: 34px !default;
$height-large: 38px !default;
$height-max: 42px !default;
//通用圆角
$radius-sm: 2px !default;
$radius-md: 4px !default;
$radius-lg: 6px !default;
$radius-xl: 10px !default;
//通用阴影
$default-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$lighter-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;